<div class="row">
	<div class="panel small-8 small-centered columns">
		<h1>spendtracker</h1>
		<p>
			Do you want to track your expenses in the simplest way? (next to using pen and paper to write down your spendings)
		</p>
		<p>
			If you've answered yes, spendtracker is for you. 
		</p>
	</div>
</div>