<% if object.errors.any? %>
	<div class="alert-box alert radius">
		The following <%= pluralize(object.errors.count, "errors") %> prevented your content from saving:
		<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li><%= msg %></li> 
			<% end %>
		</ul>
	</div>
<% end %> 
