<div class="row">
	<div class="panel small-6 small-centered columns">
		<h1>Amount: $<%= expenditure.amount %></h1>
		<% if expenditure.name %>
			<h2><%= expenditure.name %></h2>
		<% end %>
		<% if expenditure.description %>
			<p><%= expenditure.description %></p>
		<% end %>
	</div>
</div>